<h1>Rate That Agent</h1>

<% houses.each do |house| %>
    <h2><%= house["number_street"] %> <%= house["suburb"] %>, <%= house["postcode"] %></h2>
    <a href="/houses/<%= house["id"] %>">
        <img src="<%= house["image_url"] %>" alt="">
    </a>
<% end %>