<div id="rtadiv">
    <h1 id="rta">Rate That Agent</h1>
</div>

<% houses.each do |house| %>
    <div id="box">
        <a href="/houses/<%= house["id"] %>">
            <img src="<%= house["image_url"] %>" id="indy">
            <div id="addy">
                <h4><%= house["number_street"] %> <%= house["suburb"] %>, <%= house["postcode"] %></h4>
            </div>
        </a>
    </div>
<% end %>